@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  scroll-behavior: smooth;
  /* overflow-y: auto; */
}

body {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  /* background-color: red; */
  @apply bg-zinc-800;
}
.rotate {
  transform: rotate(125deg);
}

.dynamic-height {
  height: max(40vh, 40vw);
}

.dynamic-height2 {
  height: max(60vh, 40vw);
}
.green {
  background: #1ed760;
}

.green-text {
  color: #1ed760;
}

.green-border {
  border-bottom-color: #1ed760;
}

.header {
  @apply text-zinc-300 font-extrabold uppercase lg:text-6xl text-5xl my-10 lg:text-center text-left px-4;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.paragraph {
  font-family: "Poppins", sans-serif;
}

.zoomer {
  transform: scale(1);
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}
.zoomerTwo {
}
.zoomerTwo:hover {
  transform: scale(1.02);
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}
.zoomer:hover {
  transform: scale(2);
  scale: 2;
}

.gr {
}
.gr:hover {
  border-bottom-color: #1ed760;
  color: #1ed760;
}

.smooth-image {
  image-rendering: optimizeSpeed;
}
.d {
  color: rgb(224, 118, 86);
  fill: red;
}

img {
  cursor: pointer;
}
